### Build ###
.gradle/
build/

### Gradle Wrapper ###
!gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.properties
gradle-wrapper/

### Logs ###
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Eclipse / STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### OS / System ###
.DS_Store
Thumbs.db

### Optional (for cleaner commits) ###
*.swp
*.bak
*.tmp
